.p-tabview-nav {
  height: 5vh;
}

.p-tabview-nav-link {
  span {
    font-size: 1.5rem;
  }

}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}



.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #dee2e6;
  border-width: 1px 1px 2px 1px;
  background: #dee2e6;
  color: #697077;
  padding: 0.75rem;
  font-weight: 600;
  margin: 0 0 -2px 0;
}
