.p-tabview .p-tabview-nav {
  border-bottom: 2px solid var(--primary-color);

  li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }
}

.p-tabview-nav-link {
  span {}

}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: var(--primary-color);
  color: white;
}

.p-tabview-nav {
  height: 4rem;
}



.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-width: 2px 0px 0px 0px;
  padding: 0.75rem;
  margin: 0 0 -2px 0;
  height: 3.8rem;
}

.p-highlight {
  background-color: grey;
}
